@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-sans-jp);
  --color-primary: #00594f;
  --color-accent: #8bc53f;
  --color-base: #f5f5f3;
  --color-text: #222222;
  --color-muted: rgba(34, 34, 34, 0.8);
}

@layer base {
  body {
    background-color: var(--color-base);
    color: var(--color-text);
    font-family: var(--font-sans);
  }
}
